# Phân tích thành phần dinh dưỡng của các loại ngũ cốc ăn sáng

Trong video lần này, chúng ta sẽ sử dụng và tập làm quen với thư viện Pandas với tập dữ liệu các loại ngũ cốc

## Nhập các thư viện cần thiết

In [1]:
# Nhập thư viện Pandas để phân tích dữ liệu
import pandas as pd

In [23]:
# Nhập thư viện Matplotlib để trực quan hóa dữ liệu
import matplotlib.pyplot as plt
import seaborn as sns

## Nhập tập dữ liệu ngũ cốc

In [4]:
# Nhập tập dữ liệu tên là 'cereal.csv' trong folder 'data'
cereal = pd.read_csv('data/cereal.csv')

## Bước 1: Đọc dữ liệu

In [24]:
# In 5 hàng đầu tiên trong tập dữ liệu
cereal.head(n=5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [25]:
# In 5 hàng cuối cùng trong tập dữ liệu
cereal.tail(n=5)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [8]:
# In k hàng đầu tiên

In [26]:
# In k hàng cuối cùng

## Xem các cột và kiểu dữ liệu

In [10]:
# In tên của tất cả các cột trong một dataframe
cereal.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

In [12]:
# In tên của tất cả các cột dưới dạng Python list

In [13]:
# In tên của các cột, và kiểu dữ liệu mỗi cột
cereal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

## Tính toán các thống kê đặc trưng

In [27]:
# Tính toán các thống kê đặc trưng
cereal.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [17]:
# Tính toán các thống kê đặc trưng của các cột dữ liệu object
cereal.describe(include='object')

             name mfr type
count          77  77   77
unique         77   7    2
top     100% Bran   K    C
freq            1  23   74

## Lọc tập dữ liệu theo cột

In [28]:
# Chọn một cột bất kỳ
cereal["name"]

0                     100% Bran
1             100% Natural Bran
2                      All-Bran
3     All-Bran with Extra Fiber
4                Almond Delight
                ...
72                      Triples
73                         Trix
74                   Wheat Chex
75                     Wheaties
76          Wheaties Honey Gold
Name: name, Length: 77, dtype: object

In [19]:
# Chọn cột bất kỳ (cách khác)
cereal.name

0                     100% Bran
1             100% Natural Bran
2                      All-Bran
3     All-Bran with Extra Fiber
4                Almond Delight
                ...
72                      Triples
73                         Trix
74                   Wheat Chex
75                     Wheaties
76          Wheaties Honey Gold
Name: name, Length: 77, dtype: object

In [29]:
# Chọn nhiều cột
cereal[["name", "protein", "rating"]]

                         name  protein     rating
0                   100% Bran        4  68.402973
1           100% Natural Bran        3  33.983679
2                    All-Bran        4  59.425505
3   All-Bran with Extra Fiber        4  93.704912
4              Almond Delight        2  34.384843
..                        ...      ...        ...
72                    Triples        2  39.106174
73                       Trix        1  27.753301
74                 Wheat Chex        3  49.787445
75                   Wheaties        3  51.592193
76        Wheaties Honey Gold        2  36.187559

[77 rows x 3 columns]

In [30]:
# Chọn các giá trị trong cột
cereal["protein"].unique()

array([4, 3, 2, 1, 6, 5], dtype=int64)

In [35]:
# Lọc theo các giá trị mỗi cột
cereal[cereal["protein"] == 1]
cereal[cereal["rating"] > 50]
cereal[cereal["name"] == "Cheerios"]
cereal[(cereal["protein"] == 1) & (cereal["rating"] > 50)]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
54,Puffed Rice,Q,C,50,1,0,0,0.0,13.0,0,15,0,3,0.5,1.0,60.756112

## Chọn dữ liệu bằng .iloc

In [36]:
# Chọn 1 hàng
cereal.iloc[0]

name        100% Bran
mfr                 N
type                C
calories           70
protein             4
fat                 1
sodium            130
fiber            10.0
carbo             5.0
sugars              6
potass            280
vitamins           25
shelf               3
weight            1.0
cups             0.33
rating      68.402973
Name: 0, dtype: object

In [38]:
# Chọn nhiều hàng
cereal.iloc[0:5]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [39]:
# Chọn một cột
cereal.iloc[:, 0]

0                     100% Bran
1             100% Natural Bran
2                      All-Bran
3     All-Bran with Extra Fiber
4                Almond Delight
                ...
72                      Triples
73                         Trix
74                   Wheat Chex
75                     Wheaties
76          Wheaties Honey Gold
Name: name, Length: 77, dtype: object

In [40]:
# Chọn nhiều cột
cereal.iloc[:, 0:2]

                         name mfr
0                   100% Bran   N
1           100% Natural Bran   Q
2                    All-Bran   K
3   All-Bran with Extra Fiber   K
4              Almond Delight   R
..                        ...  ..
72                    Triples   G
73                       Trix   G
74                 Wheat Chex   R
75                   Wheaties   G
76        Wheaties Honey Gold   G

[77 rows x 2 columns]

In [42]:
# Chọn hàng kết hợp với cột
# Chọn 5 hàng đầu tiên, với 5 hàng đó, chọn 3 cột đầu tiên
cereal.iloc[0:5, 0:3]

                        name mfr type
0                  100% Bran   N    C
1          100% Natural Bran   Q    C
2                   All-Bran   K    C
3  All-Bran with Extra Fiber   K    C
4             Almond Delight   R    C

## Cập nhật, thay đổi dữ liệu